/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 лют 2017, 18:09:17
    Author     : Irusya
*/
@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/normalize";
@import "partials/typography";
@import "partials/base";
@import "partials/placeholders";
@import "partials/layout";
@import "partials/modules";
@import "partials/responsive";

body, html, main {
    
}


.cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/tailor1.jpg");
}
.cd-fixed-bg.cd-bg-3 {
    background-image: url("../img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
    background-image: url("../img/cd-background-4.jpg");
}

//ANIMATION

/*@-webkit-keyframes fadeIn {
    from { opacity: 1;            
    }
    to { opacity: 1;         
    }
}
@-moz-keyframes fadeIn {
    from { opacity: 0;           
    }
    to { opacity: 1;         
    }
}
@-o-keyframes fadeIn {
    from { opacity: 0;           
    }
    to { opacity: 1;         
    }
}
@keyframes fadeIn {
    from { opacity: 0;           
    }
    to { opacity: 1;         
    }
}*/

.cd-bg-1 {
    h1.rul {
        opacity: 1;
/*        -webkit-animation-name: fadeIn;
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 3s;        
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: fadeIn;
        -moz-animation-delay: 0s;
        -moz-animation-duration: 3s;        
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode: forwards;
        -o-animation-name: fadeIn;
        -o-animation-delay: 0s;
        -o-animation-duration: 3s;        
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: ease-in;
        -o-animation-fill-mode: forwards;
        animation-name: fadeIn;
        animation-delay: 0s;
        animation-duration: 3s;        
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;*/
    }
    p.rul {
        opacity: 1;
/*        animation-name: fadeIn;
        animation-delay: 1s;
        animation-duration: 2s;        
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;         */
    }
}
