body {
    font-size: 1em;
    //line-height: 1.4;
    // creates the tiled background to show off opacity
    //@include background(image-url("subtlenet2.png"));
    font-family: Roboto;
    // Modernizr fallback for when there is no fontface support
    /*    .no-fontface & {
            font-family: "Verdana";
        }*/
}

ul,li {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-style: normal!important;
}

h1 {
    //font-size: $h1;
    @include font-size($h1);
    line-height: 1.3em;
    letter-spacing: 0.12em;
    text-align: center;
    //margin: 0;
    //padding-top: 80px;
    @include rhythm-margins(3.5, 1.9166);
}

h2 {
    @include font-size($h2);
    //font-size: $h2;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin: 0;
}

h3 {
    @include font-size($h3);
    //font-size: $p;
    //font-weight: lighter;
    font-weight: 300;
    //letter-spacing: 0.07em;
    letter-spacing: 0.15em;
}
p, blockquote {
    font-style: italic;
    //font-size: $p;
    @include font-size($p-font-sizes);
    line-height: $lh-base; 
    letter-spacing: 0.1em;
    color: $color4;
}

span.letter {
        font-size: 2.25em;
        font-family: 'Parisienne', cursive;
    }

/*::-moz-selection {
    background: $color1;
    text-shadow: none;
}
::selection {
    background: $color1;
    text-shadow: none;
}*/