// ====================================================================
// Layout styles, should only contain rules relating to the structure
// ====================================================================
@import "susy";
@import "susyone";
$total-columns : 12; // a 12-column grid
$column-width : 4.6875em; // each column is 5em wide
//$column-width : 5em; // each column is 5em wide
$gutter-width : 1.5625em; // 1em gutters between columns
//$gutter-width : 1em; // 1em gutters between columns
$grid-padding : $gutter-width; // grid-padding equal to gutters

$border-box-sizing: true;

// Breakpoint variables
// ==================================================================
$M: 47em; // roughly speaking, around 800px wide with 16px body font
$L: 75em; // roughly speaking, around 1200px wide with 16px body font

$container-style: fluid;//робимо грід повністю еластичним
$container-width: 100%;//ширина контейнера гріда 

$container-width: 77em; //width first and last gutters

* {
    @include bs;
}
div.container {    
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;    
    min-height: 100%;
}

[class^="inner"] {
    max-width: $container-width;    
    margin: auto;    
    @include container;
    //@include susy-grid-background;
}
.cd-bg-1 {
    p.rul {
        @include suffix(3,12);        
    }
    .blockquote {        
        @include pad(0.99,4,12);
    }    
    .inside {         
        .line {
            @include pre(0.99,12);            
        }
        p[class*="opinion1"] {
            @include pad(0.7,4.5,12);            
        }
        p[class*="opinion2"] {            
            @include pad(0.7,2,12);                   
        }
    }
}

.cd-color-2 {
    .left {
        @include span-columns(8,12);        
    }
    .right {
        @include span-columns(4 omega,12);        
        h2.rul, ul {
            @include pre(1.6);
        }
        li {
            @include prefix(1.5,12);
        }
    }
}

.cd-color-3 {
    .left {
        @include span-columns(7.9,12);
        margin-right: 0;        
        form {
            .col, .sub {
                @include span-columns(3.7,12);
                input {
                    width: 100%;
                }
            }
            .col {
                float: left;
            }
            .sub {
                float: right;
            }
            .area {
                @include span-columns(7.4,12);
                textarea {
                    width: 100%;
                }
            }

        }
    }
    .right {        
        @include span-columns(4.005 omega,12);        
        @include prefix(0.34,12);    
    }
}
