//HEADER
header {
    height: 100%;   
    margin-top: 0.2em;    
    //background: -webkit-linear-gradient(center top , #9E9E9E, #454545) repeat scroll 0 0 transparent;
    background-image: linear-gradient(to right, rgba(236, 228, 219, 0.6) 0%, rgba(236, 228, 219, 0.2) 100%), url("../img/tailoring_3.jpg"); 
    background-image: -webkit-linear-gradient(left, rgba(236, 228, 219, 0.6) 0%, rgba(236, 228, 219, 0.2) 100%), url("../img/tailoring_3.jpg"); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    //background-image: linear-gradient(to right, rgba(236, 228, 219, 0.7) 0%, rgba(236, 228, 219, 0.3) 100%), url("../img/tailoring_3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    img {
        width: 100%;        
        max-width: 77em;
        -webkit-transform: translate(-50%, -50%);
        @include centerer-middl-down(true, true);
    }
    #home {
        display: block;
    }
    #home-mobile {
        display: none;
    }    
}

//NAVIGATION
nav[role="navigation"] {
    @extend %clearfix;
    z-index: 1000;    
    background-color: $color13;    
    padding: 0.8em 0;    
    line-height: 1.5em;
    position: relative;    
    top: 0;
    width: 100%;
    .mobile, .mobile_navPhone {
        display: none;
        text-decoration: none;
        a {
            font-size: 1.2em;
            line-height: 2em;   
        }
        a:hover {
            color: $color7;
            border-bottom: none;                       
        }
        a:visited {
            color: $color9;
        }
    }
    a {
        border-bottom: none;
        @include button-links($color6,$color4);        
    }
    a:focus {
        outline: none;
    }
    a.active {
        color: #aa0019;
    }
    li {
        display: inline-block;
        float: left;
        padding: 0 0.6em;
        margin-left: 0.7em;
    }
    .bar {
        @include centerer(true, false);
        display: none; 
    }
    i.fa-bars {        
        color: $color6;
        font-size: 35px;        
    }
    ul.contact {
        float: left;
        li:first-child {
            margin-left: 0;
            padding-left: 0;                       
        }        
        li {            
            ul.navPhone {                
                color: $color4;                
                margin-left: 0;
                padding-left: 0;
                li {
                    display: block;
                    float: none;
                    margin-left: 0;
                    padding-left: 0;
                    font-size: 0.9375em;
                    line-height: 1.2em;
                }                
            }
        }
        li.navPhone {
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;            
        }
        i.fa-phone, i.fa-map-marker {
            color: $color7;
            font-size: 20px;
            margin-top: $nav-top-mark;      
        }
        i.fa-phone {                        
        }
        li.navGoogle {
            margin-left: 0;
            padding-left: 0;
            margin-top: $nav-top;
        }
        a.marker:hover {
            border-bottom: none;

            i.fa-map-marker  {
                color: $color8;
            }
        }
        a.navGoogle {
            border-bottom: 1px dotted;
            font-size: 0.8125em;
            //margin-left: 0;
            &:hover {                
                border-bottom: none;
                color: $color8;
            }
        }   
    }           
    ul.menu {
        float: right;
        text-transform: uppercase;
        //font-size: $p;
        @include font-size($ul-menu);
        font-weight: bold; 
        letter-spacing: 0.08em;
        margin-top: $nav-top;        
        li:last-child {            
        }        
    }
    ul.lang {

        float: right;
        text-transform: uppercase;        
        letter-spacing: 0.08em;
        margin-top: $nav-top;
        margin-left: 1.3em;
        li {
            margin-left: 0;
            padding: 0;
        }
        li:nth-child(2) {
            padding: 0 0.3em;
        }        
        li.selected a {            
            color: $color7;            
        }        
    }
}
.nav-bottom, .nav-top {
    display: none;
    height: 6px;
    width: 100%;
    background-color: $color11;
    z-index: 1001;
}
//ABOUT US
// Fixed Background Scrolling
.cd-fixed-bg {    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;    
}

.cd-fixed-bg.cd-bg-1 {    
    background-color: #753116;
    background-image: url("../img/tailor.jpg");    
    background-position: 50% top;    
}

.profile {    
    background-color: $color13;
    p.rul {
        margin: 0;
        color: darken($color6, 25%);
        margin-bottom: 0.75em;
    }
    span {
        color: darken($color6, 35%);
    }
    span.space {        
        letter-spacing: 0.1em;        
    }    
    .inner-content {        
        padding: 6.5em 0 6em 0;
        div.face {            
            float: left;            
            padding: 1em;            
            text-align: center;
            .fotoFraim {
                background-color: $color14;
                padding-top: 1.6em;
                padding-bottom: 1.5em;
                margin-bottom: 2em;
            }
            img {
                width: 90%;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;                
            }
        }
        div.face:nth-child(2) {
            padding: 0 1.5em 0 1.5em;
        }    
        div.card {
            width: 31%;
            background-color: darken($color13, 10.5%);
        }
        div.intro {
            width: 38%;
            margin-top: 0.7em;
        }
        div.duble {
            display: none;
            width: 40%;
            text-align: center;
            padding: 1em;
        }
    }


}

.cd-bg-1 {    
    h1.rul, h2.rul, p.rul {
        color: $color1;
    }
    h1.rul {
        @include rhythm-padding(4.55, 1.9166);
        margin: 0;
    }
    .container {        
        background-color: $color15;         
    }   
    .inside {        
        @include rhythm-padding(1.48, 1);
        @include rhythm-margins(2, 2.5);        
        background-color: rgba($color5,.5);
        h2.rul {            
            @include margin-trailer(1.7);            
        }
        .line {
            border-left: 1px solid $color1;
        }

        span {
            font-family: Roboto;            
        }
        p.opinion1 {            
            font-family: 'Homemade Apple', 'Marck Script', cursive;            
            font-size: 1.05em;
            letter-spacing: 0.05em;            
        }
        p.opinion1_ua {            
            font-family: 'Marck Script', cursive;            
            font-size: 1.25em;            
        }
        p[class*="opinion2"] {
            font-family: 'Calligraffitti', 'Bad Script', cursive;            
            font-size: 1.15em;            
            letter-spacing: 0;
            span {                
                font-size: 0.95em;
            }            
        }
        p.opinion2_ua {
            letter-spacing: 0.1em;
        }
        p.rul:first-child {
            margin-top: 0;
        }
        p.rul:last-child {
            margin-bottom: 0;
        }
    }    
}

/*Block Serveses + Gallery*/

.cd-color-2 {
    ul {     
        @include font-size($ul-services);
        color: $color5;
        line-height: $lh-ul;
        li {
            background-image: url('../img/gudzyk.png');            
            background-size: 10%;            
            background-repeat: no-repeat;
            background-position: 0 50%;
            letter-spacing: 0.06em;            
        }
    }        

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        border-bottom: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .slidePanel {
        //background-color: yellowgreen;
        margin-top: 0px;
        display: none;
    }

    .dot {
        cursor:pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    //greed-gallery
    .header {
        text-align: center;
        padding: 32px;
    }
    .gal {        
        padding-left: 0.7%;
        padding-right: 0.7%;
        background-color: $color13;
    }    
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 12.5%;
        //width: 16.6666%;
        padding: 10px;
        background-color: $color13;
    }

    .column img {
        margin-top: 12px;
        border-radius: 5px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    // end //greed-gallery
}

.cd-color-2, .cd-color-3 {
    h1.rul {        
        color: $color6;
        line-height: $lh-h1;
    }
    .gold {
        color: $color8;
    }
    .right {
        border-left: 1px solid $color4;
    }
    ul {
        color: $color5;        
        list-style: none;        
    }
    p.rul:last-child {
        @include margin-trailer(0);
    }
    .photos {        
        background-color: $color13;        
        @include clearfix;
        @include margin-leader(2);
        padding: gutter(20);//top, bottom        
        .photo {            
            @include gallery(3 of 15);
            border-bottom: none;            
        }
    }
}

.cd-color-3 {    
    form {        
        label {
            display: block;            
            margin-bottom: 0.2em;
            color: $color8;            
            font-size: 0.9em;
            letter-spacing: 0.15em;            
            font-weight: 300;
        }
        input {
            line-height: 2.5em;
            padding: 0 0.5em;
            color: $color5;
            font-size: 1.2em;
        }
        textarea {
            line-height: 1.5em;
            padding: 0.5em 0.5em;
            color: $color5;
            font-size: 1.2em;
        }
        input, textarea {
            border: 1px solid $color8;
        }
        .part {
            width: 100%;            
            @include clearfix;
            position: relative;                       
        }  
        .sub {            
            position: absolute;
            bottom: 0;            
            input[type="submit"] {                
                border-radius: 0;
                border: none;
                background-color: $color12;
                color: $color1;
                line-height: 3.5em;                
                text-transform: uppercase;
                font-weight: bold;
                @include font-size($sub-fs);
                letter-spacing: 0.15em;
                &:hover {
                    background-color: $color11;
                }
            }
        }
    }
    .right {
        .part {
            @include clearfix;            
        }
        h3.rul {
            float: left;
        }
        ul {   
            float: right;
            li { 
                text-align: right;
                letter-spacing: 0.07em;
            }
        }        
        .phone, .address {
            ul {
                width: 65%;
            }
        }
        .address ul li {
            text-align: right;
        }
        .hours {
            ul {
                float: left;
                width: 100%;
                li {
                    line-height: 1.8em;
                    @include clearfix;
                    span.day {
                        float: left;                        
                        text-align: left;
                        display: inline-block;
                    }
                    span.time {
                        float: right;
                        font-size: 1em;
                        text-align: right;
                        display: inline-block;
                    } 
                }
            } 
        }
    }
}

div.googlemap {
    width: 100%;        
    iframe {
        width: 100%;        
    }
}
footer {    
    background-color: $color13;
    text-align: center;
    p.rul {        
        color: $color6;
        line-height: 4em;
        margin: 0;
        font-style: normal;
    }
    a {        
        color: $color6;
        border-bottom: 1px solid;
        font-style: italic;
        &:hover {            
            border-bottom: none;
            color: $color11;
        }
    }
}

// Modal
#myImg, #myImg1, #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

//#myImg:hover, #myImg1:hover, #myImg2:hover {opacity: 0.7;}
.gal {
    img:hover {
        opacity: 0.7;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    //padding-top: 100px; /* Location of the box */
    padding-top: 85px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 27px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        z-index: 100;
    }
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    //width: 80%;
    max-width: 700px;
    max-height: 95%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    letter-spacing: 0.17em;
    word-spacing: 0.5em;
    //font-weight: bold;
    padding: 8px 0 0 0;
    height: 30px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 76px;
    right: 20px;
    color: #f1f1f1;
    font-size: 35px;
    //font-weight: bold;
    transition: 0.3s;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        //width: 100%;
    }
}

