@media screen and (max-width: 1140px) {
    .profile {        
        div.inner-content {
            max-width: $container-width;    
            margin: auto;    
            @include container;
            div.fullscreen {
                display: none;
            }
            div.card {
                width: 25%;
                margin-right: 1em;
                margin-bottom: 1em;                
                h3 {                    
                    @include font-size($profile-fs);
                    padding: 0 1em;
                }                
            }
            div.face {
                padding: 0;
                div.fotoFraim {
                    padding-top: 0.5em;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }                
            }
            div.face:nth-child(3) {
                margin-right: 2em;
                h3 {
                    padding: 0 0.5em;
                }
            }
            div.face:last-child {
                padding: 0;
            }
            div.duble {
                display: block; 
                width: 100%;
                float: none;
                text-align: justify;
                pading: 0;                
            }
            div.face {
                div.fotoFraim {
                    padding-top: 0.5em;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }                
            }
        }
    }
}
@media screen and (max-width: $screen-tablet) {
    p.rul, blockquote {
        margin-right: 0;
    }    
    header {
        background-image: url("../img/tailoring_.jpg");        
        img {            
            width: 94%;
            @include centerer-down(true, true);
        }
    }   
    .cd-bg-1 h1.rul {
        @include rhythm-padding(2.3, 0);
    }
    nav[role="navigation"] {
        padding-bottom: 12px;        
        .bar {
            display: block;
        }
        li.navPhone, li.navGoogle {
            display: none;
        }
        .inner-nav ul.menu {
            display: none;
        }                
        ul.mobile {
            display: block;
            width: 100%;
            margin-top: 1em;
            padding-left: -1.5625em;
            padding-right: -1.5625em;
            li {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid $color11;
                margin: 0;
                padding: 0;                
                a {                    
                    line-height: 3em;
                    display: block;
                    padding-top: 0.2em;                    
                    &:hover {
                        border-bottom: none;                        
                        background-color: $color12;
                        color: $color1;
                    }
                }
            }
        }
        ul.mobile_navPhone {            
            width: 100%;
            margin-top: 1em;
            padding-left: -1.5625em;
            padding-right: -1.5625em;
            li {
                display: block;
                position: relative;
                width: 100%;
                text-align: left;
                border-bottom: 1px solid $color11;
                margin: 0;
                padding: 10px 0;
            }
        }
    }
    .cd-fixed-bg.cd-bg-1 {
        padding-top: 0;
    }
    .cd-color-2, .cd-color-3 {
        .left {
            @include span-columns(12,12);
        }
        .right {
            @include rhythm-margins(0.5, 0.5);
            @include span-columns(12,12);            
        }
    }
    .cd-color-2 {
        .right {
            h2.rul, ul {
                @include pre(0.5);
                li {
                    @include prefix(1,12);
                    background-size: 1em auto;
                }
            }
        }
        .photos {
            display: none;
        }        
        .header {            
            padding: 30px 0;
            button {
                //background-color: $color13;
                padding: 0.3em 0.3em;
                margin: 0.4em 0.2em 0 0.2em;
                //border-radius: 4px;
                //background: linear-gradient(to bottom, $color13 0%, #fbfbfb 8%, #dcd7c7 100%);            
                //box-shadow: 2px 2px 5px rgba(43, 43, 43, 0.1);
                font-size: 0.95em;
                /*text-transform: uppercase;*/
                //letter-spacing: 0.15em;
                //color: $color6;
                //border: 1px solid rgb(214, 210, 196);            
            }              
        }
    }
    .cd-color-3 {
        ul.contact {

        }
        .part {
            @include margin-trailer(0.5);
        }        
        .right {
            border-left: none;
            padding-left: 0;
            .phone {
                margin-top: 0;
            }

            #first, .hours {
                margin-top: 2em;
                float: left;
            }
            #first {
                //float: left;
                width: 45%;
                margin-right: 5%; 
                .phone, .address {                    
                    ul {
                        width: 100%;
                        li {
                            text-align: left;
                        }
                    }
                }
            }
            .hours {
                width: 45%;
                padding-left: 5%;
                border-left: 1px solid #6b5554;
            }
        }
    }
    footer {
        p.rul {
            font-size: 0.7em;
        }
    }
}

@media screen and (max-width: $screen-smartphone-xs) {
    h1.rul {

        @include rhythm-padding(2.7, 0);    
    }
    nav[role="navigation"] {        
        ul.contact {
            i.fa-phone, i.fa-map-marker {
                font-size: 23px;
            }            
            ul.lang {
                font-size: 1.1em;
            }
        }
    }    
    header {
        background-image: url("../img/tailoring_.jpg");        
        img {
            width: 100%;
        }
        #home {
            display: none;
        }
        #home-mobile {
            display: block;
        }
    }

    .profile {        
        div.inner-content {            
            div.card {
                width: 48%;
                margin-right: auto;
                margin-bottom: auto;
            }
            div.card:first-child {
                margin-right: 4%;
            }
            div.face:nth-child(3) {
                margin-right: 0;
            }
            div.duble {                
                width: 100%;
                margin-top: 1em;
                float: left;                
                pading: 0;                
            }
            div.face {
                padding: 0;
                div.fotoFraim {
                    padding-top: 0.5em;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    .cd-fixed-bg.cd-bg-1 {
        padding-top: 0;
        background-image: url("../img/tailor1_mobile.jpg");        
        p.rul {
            @include suffix(0,12);            
        }
        .blockquote {            
            @include pad(0.99,0,12);
        }        
        .inside {
            p[class~="opinion1"] {
                @include pad(0.7,0,12);                
            }
            p[class~="opinion2"] {                
                @include pad(0.7,0,12);                        
            }
        }
    }
    .cd-color-2 {
        .column {
            width: 25%;
        }        
    }
    .cd-color-3 {
        .left {
            .part {
                margin-bottom: 0;
            }
            form {                
                .row:first-child {
                    margin-bottom: 0;
                }
                .col {
                    width: 100%;
                    label {
                        font-size: 0.75em;
                        margin-bottom: 0.05em;
                    }
                    input {
                        width: 100%;
                        margin-bottom: 1em;
                    }                
                }
                .sub {
                    width: 100%;
                    margin-right: 0;
                    margin-top: 2em;
                    position: static;
                }                
            }
        }
        .right {
            .part {
                margin-bottom: 0;
            }
            #first, .hours {
                width: 100%;
                .address {
                    margin-top: 1em;
                }
            }            
            .hours {
                border-left: none;
                padding-left: 0;
                margin-top: 1em;                
            }
        }
    }    
}


@media screen and (max-width: $screen-smartphone-xxs) {
    .profile {        
        div.inner-content {
            max-width: 100%;
            width: 100%;
            padding: 5em 0 5em 0;
            div.card {
                width: 50%;
            }
            div.face:first-child {
                margin-right: 0;
            }
            div.face:last-child {
                padding: 1em 1.5625em 0 1.5625em;                             
            }  
        }
    }
    .cd-color-2 {              
        .header {
            button {
                //background-color: $color13;
                //padding: 0.3em 0.5em;
                //margin: 0 0.2em;
                //border-radius: 4px;
                //background: linear-gradient(to bottom, $color13 0%, #fbfbfb 8%, #dcd7c7 100%);            
                //box-shadow: 2px 2px 5px rgba(43, 43, 43, 0.1);
                font-size: 0.9em;
                /*text-transform: uppercase;*/
                //letter-spacing: 0.15em;
                //color: $color6;
                //border: 1px solid rgb(214, 210, 196);            
            }
        }
    }
}