/* 
    Created on : 15 січ 2017, 17:16:43
    Author     : Irusya
*/
@import "compass/typography";
@import "compass/css3";

$base-font-size: 16px !global;
$base-line-height: 24px !global;
$rhythm-unit: "px" !global;
$rem-with-px-fallback: true !global;
@include establish-baseline;

p.rul {    
    @include rhythm-margins(1, 1);
}

.cd-color-2, .cd-color-3 {
    .left {
        p.rul:first-child {
            margin-top: 0;
        }
    }
    .right {
        h2.rul {
            line-height: $lh-base;
            @include rhythm-margins(0, 0.5);
        }
    }
}

.cd-color-3 {    
    form {
        .part {
            margin-bottom: 1.55em;
        }
    }
    .right {
        .part {
            @include margin-trailer(1);
        }
        .phone {
            @include margin-leader(0.3);
        }
        h3.rul {
            line-height: $lh-ul-contact;
            @include rhythm-margins(0, 0.5);  
        }
        li {            
            @include font-size($p-font-sizes);
            line-height: $lh-ul-contact; 
        }        
        span.time {            
            font-size: 1em;
        }
    }
    .row:last-child {
        @include margin-trailer(0);
    }
    .googlemap {
        @include margin-leader(1.125);
    }
}
